<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>User <%= @name %> wants to reserve: </h1>
    <ul>
      <li>Date: <%= @date %></li>
      <li>Time: <%= @start_time %> - <%= @end_time %></li>
      <li>Phone: <%= @phone %></li>
      <li>Email: <%= @email %></li>
    <ul/>
  </body>
</html>